@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #181818;
    color: #fff;
    overflow: hidden ;
    
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 300;
}